.wrapper {
  position: fixed;
  z-index: 1;

  bottom: 20px;
  right: 20px;

  padding: 20px;
  width: 620px;

  border-radius: 10px;
  border: 1px solid #979797;

  background-color: #fff;
}

.title {
  font-family: var(--font-montserrat);
  font-size: 24px;
  font-weight: 600;
  color: #3d4143;
}

.text {
  margin-top: 20px;

  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;

  color: #000;
}

.buttons {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}

.buttons > * {
  flex-grow: 1;
}

.button {
  font-weight: 500;
  justify-content: center;
}

.closeIcon {
  position: absolute;

  top: 25px;
  right: 25px;

  cursor: pointer;
}

@media (--tablet-media) {
  .wrapper {
    right: 15px;
    width: calc(100% - 30px);
  }

  .buttons {
    flex-direction: column;
    row-gap: 10px;
  }

  .button {
    width: 100%;
  }
}
