.wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.wrapper svg {
  flex-shrink: 0;
}

.title {
  color: #3ab940;
}

.subtitle {
  color: #3d4143;
}
