.title {
  margin-top: 25px;
  font-family: var(--font-fira-sans-extra-condensed), sans-serif;
  font-size: 46px;
}

.wrapper {
  display: flex;
  column-gap: 40px;
  padding-bottom: 100px;
}

.wrapper_emptyCart {
  flex-direction: column;
  padding-bottom: 40px;
}

.products {
  margin-top: 60px;
}

.deliveryInformation {
  margin-top: 90px;
}

@media (--tablet-media) {
  .container {
    padding-top: 20px;
  }

  .title {
    margin-top: 15px;

    font-family: var(--font-fira-sans-extra-condensed), sans-serif;
    font-size: 30px;
    font-weight: 600;

    color: #000;
  }

  .wrapper_emptyCart {
    padding-bottom: 35px;
  }

  .wrapper:not(.wrapper_emptyCart) {
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }

  .products {
    margin-top: 50px;
  }

  .deliveryInformation {
    display: none;
  }
}
