.wrapper {
  background: white;
  padding: 40px 40px 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
  max-width: 410px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.body {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label input {
  margin-bottom: 8px;
}

.form label input[type='checkbox'] {
  color: #333333;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #979797;
  border-radius: 4px;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.form input {
  height: 48px;
}

.form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  min-height: 112px;
  max-height: 112px;
}

.submitButton {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #333;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.footerButton {
  margin-left: 10px;
}

.form label .checkbox {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

.form label svg {
  width: 40px;
  color: #333333;
}

.form .email_title {
  color: #979797;
}

.form button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 18px;
}

.form .formAttachFile,
.fileName {
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline;
}

.form .fileName {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.form .required_text {
  margin-bottom: 14px;
}

.fileWrapper {
  display: flex;
  gap: 10px;
}

.fileWrapper button {
  margin: 0;
  width: auto;
  display: flex;
  align-items: center;
}

.fieldWrapper {
  position: relative;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popupContent h3 {
  font-family: var(--font-fira-sans-extra-condensed), sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.popupContent p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.popupContent button {
  margin-top: 10px;
}

@media (--tablet-media) {
  .wrapper {
    top: 15%;
  }
}
