.container {
  padding-block: 60px 40px;
}

.cards {
  display: flex;
  column-gap: 40px;
}

.card {
  padding: 20px;

  width: 100%;
  aspect-ratio: 0.9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #fff;

  border-radius: 10px;
  border: 1px solid #dadada;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#00000080 0%, #00000000 25%, #00000000 75%, #00000000 75%, #00000080 100%),
    var(--picture);
}

.cardOfferText {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 32px;
}

.cardTitle {
  font-family: var(--font-fira-sans-extra-condensed), sans-serif;
  font-size: 80px;
  text-align: right;
}

.block {
  margin-top: 60px;
}

.blockTitle {
  font-family: var(--font-fira-sans-extra-condensed), sans-serif;
  font-size: 48px;
  color: #3d4143;
}

.blockDescription {
  margin-top: 20px;
  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
}

.deliveryInformation {
  margin-top: 60px;
}

@media (--tablet-media) {
  .container {
    padding-block: 30px 35px;
  }

  .cards {
    display: none;
  }

  .block {
    margin-top: 0;
  }

  .deliveryInformation {
    margin-top: 30px;
  }

  .blockDescription {
    font-size: 20px;
  }
}
