.wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: fit-content;
}

.input {
  width: 3ch;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;

  color: #3d4143;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  aspect-ratio: 1;
}
